@charset "utf-8";
/* CSS Document */

.main {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;	
	
}

.tablestyling {
	background-color:#333
	text-color:#FFF
	
}

.heading {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
	font-size:16px;
}

.subheading {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:left;
	font-size:14px;
}